<main class="masthead">
  <div class="container text-center my-auto">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="mb-2">Emotch</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-8 offset-lg-2">
        <h3 class="mb-2">
          <em>考え、想いを詰め込もう。言葉の美しさ。</em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="my-5">
          <%= link_to 'Twitter Login', '/auth/twitter', class:"btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-8 offset-lg-2">
        <h3 class="mb-5">
          <em>Emotchでは、できないことがたくさん。</em>
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-12 offset-lg-0">
        <div class="col-md-4 col-lg-4 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">つながれない</h5>
              <p class="card-text">Follow, Followeの関係はありません。純粋に文章自体を味わってください。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-5 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">伝えられない</h5>
              <p class="card-text">コメント欄がありません。エモいをしても相手に通知が行きません。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-5 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">鍵垢になれない</h5>
              <p class="card-text">投稿は、すべての人に見られる可能性があります。言葉を大切に扱いましょう。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center my-auto">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3 class="mb-2">
          <em>-使い方-</em>
        </h3>
        <i class="fas fa-angle-double-down fa-2x mb-5"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3 class="mt-1 ">
          <em>ざーっと画像で説明するね！！</em>
        </h3>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="container my-auto text-center">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3 class="mt-1 m-3 explanation">
          <em>まず、Twitterでログインしたら、次のページに行くよ！</em>
        </h3>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="step1 mb-5">
          <%# <%= image_tag("/images/index.png", :size => "900x700", class:"img-responsive")%> %>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3 class="m-3 explanation">
          <em>右上のアイコンからマイページに行ってみよう！</em>
        </h3>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="step2 mb-5">
          <%# <%= image_tag("/images/profile.png", :size => "900x700", class:"img-responsive")%> %>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="m-3 explanation">
          <em>さぁ使ってみよう！　エモいこと言ってもここなら大丈夫だよ。</em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="my-5">
          <%= link_to 'Twitter Login', '/auth/twitter', class:"btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</main>
