<main class="masthead">
  <div class="container text-center my-auto">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <h1 class="mb-2">Emotch</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3 class="mb-2">
          <em>考え、想いを詰め込もう。言葉の美しさ。</em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="my-5">
          <%= link_to 'Twitter Login', '/auth/twitter', class:"btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3 class="mb-5">
          <em>Emotchでは、できないことがたくさん。</em>
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 offset-lg-0">
        <div class="col-md-4 col-lg-4 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">つながれない</h5>
              <p class="card-text">Follow, Followeの関係はありません。純粋に文章自体を味わってください。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-5 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">伝えられない</h5>
              <p class="card-text">コメント欄がありません。エモいをしても相手に通知が行きません。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-5 float-left">
          <div class="card bg-warning">
            <div class="card-body">
              <h5 class="card-title">鍵垢になれない</h5>
              <p class="card-text">投稿は、すべての人に見られる可能性があります。言葉を大切に扱いましょう。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center my-auto">
    <div class="row">
      <div class="col-md-12 col-lg-8 offset-lg-2">
        <h3 class="my-5">
          <em>たった25文字で、あなたの想いを伝えてみませんか？</em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3">
        <div class="my-5">
          <%= link_to 'Twitter Login', '/auth/twitter', class:"btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</main>
