// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.total-emo {
  font-size: 30px;
  font-weight: 500;
}
.profile-tab {
  border-bottom: solid;
}
